.Tile {
    display: block;
    position: relative;
    background: lightblue;
    border: 2px solid white;
    box-sizing: border-box;

    /* Critical */
    overflow: hidden;
}


.Tile .Tile-infos {
    z-index: 2;
    position: absolute;
    top: 6px;
    left: 6px;
    padding: 6px;
    background: black;
    color: white;
}

.Tile .Tile-source {
    z-index: 1;
    position: relative;
    display: block;
}