.Tile {
    display: block;
    box-sizing: border-box;

    /* Critical */
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.Tile:before {
    content: '';
    float: left;
    padding-top: 100%;
}

.Tile-content {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.Tile .Tile-infos {
    z-index: 2;
    position: absolute;
    top: 4px;
    left: 4px;
    padding: 4px;
    background: black;
    color: white;
}

.Tile .Tile-source {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
