/* Normalize stuff */
/**
 * Remove the border on images inside links in IE 10-.
 */

img {
    border-style: none;
}

.App-body {
    padding: 12px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
