/* Normalize stuff */
/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  padding: 12px
}

.App-title {
  font-size: 1.5em;
}

.App-body {
  padding: 24px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
