.Scene {
    position: relative;
    background: lightgray;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 3px;

    overflow: hidden;
}

.Scene:before {
    content: '';
    float: left;
    padding-top: 100%;
}

.Scene-content {
    position: relative;
}
